.container {
  margin-top: 14px;
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    span {
      padding: 0;
      .dayItem {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        width: 35px;
        height: 35px;
        border-radius: 8px;
        background-color: transparent;
        color: var(--text-secondary-color);
        border: 1px solid var(--text-secondary-color);
        transition: all 350ms ease-in-out;
      }
      .picked {
        background-color: var(--primary-color);
        border: none;
        color: #ffffff;
        transition: all 350ms ease-in-out;
      }
    }
  }
}
