.container {
  display: flex;
  flex-direction: column;
  background-color: #f8f2ec;
  border-radius: 8px;
  padding: 8px 0px 16px 0px;
  min-width: 300px;
  min-height: 250px;
  max-height: 600px;

  .title {
    font-size: 20px;
    padding: 12px 0px 12px 16px;
    font-weight: 600;
    line-height: 100%;
    color: var(--secondary-color);
  }
  .customersWrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
  }
  .buttons {
    display: flex;
    margin-top: 27px;
    padding: 0px 16px;
    padding: 10px;
    justify-content: center;
    margin-top: auto;
    gap: 16px;
    button {
      padding: 11px 16px;
      font-weight: 500;
    }
  }
}
