.wrapper {
  background-color: #f8f2ec;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 17px;
  z-index: 9999;
  .title {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
  }
  .description {
    color: #ababab;
    p {
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
  }
  .delete {
    padding: 8px 17px;
    font-weight: 400;
  }
}
.actionsWrraper {
  justify-content: center;
  gap: 10px;
  button {
    line-height: 24px;
  }
}
