.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .title-wrapper {
    width: 100%;
    margin-top: 22px;
    height: fit-content;
    .title {
      font-size: 20px;
      color: var(--secondary-color);
      font-weight: 700;
      text-align: center;
    }
  }
}
